.about{
    padding: 0 0 0 0 !important;
    /* background: var(--theme); */
    /* color: #fff; */
}

.about span{
    font-family: b;
}

.about .why-us{
    text-align: center;
    /* border: 1pt solid red; */
}

.about .why-us .row{
    justify-content: space-between;
}

.about .why-us .row > div{}

.about .why-us .row > div .container{
    border-radius: 15px;
    /* -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); */
    padding: 10px;
}

.about .why-us .row > div i{
    font-size: 2em;
}

.about .why-us .row > div .head{
    font-size: 1.25em;
    font-weight: 800;
    padding-top: 5px;
}

.about .why-us .row > div p{
    padding: 10px;
    font-size: .85em;
    text-align: justify;
}

.about .why-us .row > div:nth-child(1) i{
    color: #DE354C;
}

.about .why-us .row > div:nth-child(2) i{
    color: #FFDF6C;
}

.about .why-us .row > div:nth-child(3) i{
    color: #4DA8DA;
}

.about .why-us .row > div:nth-child(4) i{
    color: #266150;
}
 

.mv .head{
    text-align: center;
}

.about .container li{
    margin: 15px 0;
}

.mv{
    /* text-align: center; */
    /* padding: 40px; */
}

.mv .sec{
    padding: 0 50px;
    border-right: 2pt solid var(--theme);
    text-align: justify;
}

.mv .sec:last-child{
    border-right: none;
}

.mv .sec img{
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.mv .sec .title{
    color: var(--theme);
    padding: 10px 0;
    font-size: 2em;
}






@media (max-width: 768px){
    .about{
        /* text-align: center; */
    }
    .mv .sec{
        padding: 0 10px;
    }

    .about .why-us .row > div .container{
        padding: 0;
    }
}

@media (max-width: 425px){
    .mv .sec{
        border: none;
    }
    .mv .sec{
        padding: 0 10px;
    }
    .about .why-us .row > div .container{
        padding: 0 ;
    }
}