.contact{
    padding: 0 !important;
}

.contact .col-md-4{
    text-align: center;
}

.contact .col-md-4 i{
    font-size: 2em;
}

.contact .col-md-4 p{
    padding: 10px 0;
}

.contact1{
    text-align: center !important;
}

.contact1 .row{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}