.join{
    /* background-image: url('../images/joinbg.jpg'); */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* border: 1pt solid red; */
}

.join .row{
    /* padding: 50px 0; */
    margin: 0;
    justify-content: center;
}

.join .row .col-md-3{
    margin: 10px 0;
}

.join .row .col-md-3 .btn{
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-family: nm;
    font-size: 1em;

    background: var(--theme);
    border: 1.5pt solid white;
    color: white;
    border-radius: 10px;
}

.join .row .col-md-3 .btn:hover{
    background: var(--white);
    border-color: var(--theme);
    color: var(--theme);   
}

@media (max-width: 768px){
    .join .row .col-md-3{
        width: 50%;
    }
}

@media (max-width: 425px){
    .join .row .col-md-3{
        width: 100%;
    }
}