:root{
    --orange: #ff7700;
    --darkorange: #ff7300;
    --white: #fff;
    --black: #111;
    --red: #cc0000;
    --darkred: #aa0000;
    --pink: #ac0057;
    --themeLight: #75c8bc;
    --theme: #00ab9f;
    --themeDark: #61a59b;
}